openapi: 3.0.3
info:
  title: Coder Survival API
  version: 1.0.0
  description: API specification for the Coder Survival Telegram Mini App
servers:
  - url: https://api.coder-survival.com/v1
    description: Production server
  - url: http://localhost:3000/v1
    description: Local development server

tags:
  - name: Health
    description: Health check endpoints
  - name: Game
    description: Core gameplay endpoints
  - name: User
    description: User management endpoints
  - name: Shop
    description: In-game shop and purchases

paths:
  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: Returns the current health status of the API
      operationId: getHealth
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

components:
  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
      required:
        - status

    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        code:
          type: string
          description: Error code
      required:
        - error

  securitySchemes:
    TelegramInitData:
      type: apiKey
      in: header
      name: X-Telegram-Init-Data
      description: Telegram Mini App initData for user authentication
